/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/



.fa {
    padding-right: 5px;
}
.item {
    color: var(--tg-heading-color);
    padding: 5px;
}
.dropdown .item a ul li:active{
     background: var(--tg-common-color-white);
}

.header__top-right .lang .dropdown-menu li a:active {
    background-color: var(--tg-common-color-white);
}
.form-div{
    margin-top: 40px;
}
.form-div_post{
    margin-bottom: 100px;
}
.form-div_cont{
    padding: 2px 2px 2px;
}
.form-group{
    margin-top: 25px;
    margin-bottom: 30px;
}
.link-checkbox{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
}
.link-checkbox_a{
    margin-top: 3%;
}
.form-control{
    background-color: white;
}
.link-checkbox_btn{
    height: 5%;
    margin-top: 15px;
}
.link{
    font-size: 14px;
}

.social_text{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.social-a_i{
    display: flex;
    align-items: center;
    gap: 10px 28px;
    margin-top: 4%;
}
.muted_text{
    margin-top: 15px;
}
.muted{
    font-size: 14px;
    color: var(--tg-body-color);
}
.copyright_text{
    padding-top: 8px;
}
.pagination_wrap{

}
.container__news{
    margin-top: 30px;

}
